<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <app-loader *ngIf="!hasLoaded; else favsPage"></app-loader>
    </div>
    <ng-template #favsPage>
        <div class="m-3">
            <h1 class="text-center mb-3">Mis animales favoritos</h1>
            <div class="row d-flex justify-content-center m-3">
                    <app-animal-card class="col d-flex justify-content-center mt-2 mb-2"
                        *ngFor="let animal of animals"
                        [photo]="animal.photo" [name]="animal.name" [city]="animal.shelter.city.name"
                        [id]="animal.id" [isFavorite]="favorites.includes(animal.id)" [animalType]="animal.animal_type"
                        (favoriteSelected)="setFavorite($event)"
                    ></app-animal-card>
            </div>
        </div>
    </ng-template>
</div>