<footer class="bg-koda-imperial text-md-left">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left text-koda-light">
            <div class="col-6 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Koda</h5>
                <p class="text-start">
                    Koda es una plataforma de adopción de animales que tiene el propósito de que
                    protectoras den visibilidad a sus animales y que los usuarios encuentren un
                    animal de forma sencilla
                </p>
            </div>

            <div class="col-6 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Páginas</h5>

                <div class="row">
                    <span class="col-4"><a routerLink="" class="text-koda-light">Inicio</a></span>
                    <span class="col-4"><a routerLink="/adopt" class="text-koda-light">Adopta</a></span>
                    <span class="col-4"><a routerLink="/shelters" class="text-koda-light">Protectoras</a></span>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <span class="col-4"><a routerLink="/colab" class="text-koda-light">Colabora</a></span>
                    <span class="col-4"><a routerLink="/blog" class="text-koda-light">Blog</a></span>
                    <span class="col-4"><a routerLink="/about-us" class="text-koda-light">Nosotros</a></span>
                </div>
            </div>

            <hr>

            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8 text-koda-light d-flex align-items-center gap-3">
                    <span>
                        <img src="assets/koda_logo.png" alt="Logo" 
                            width="50" height="65"
                            class="d-inline-block align-top"
                        />
                    </span>
                    <span >
                        Copyright ©2023 All rights reserved
                    </span>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item m-3">
                                <a routerLink="" class="btn-floating btn-sm text-koda-light" style="font-size: 23px;">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-3">
                                <a routerLink="" class="btn-floating btn-sm text-koda-light" style="font-size: 23px;">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-3">
                                <a routerLink="" class="btn-floating btn-sm text-koda-light" style="font-size: 23px;">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-3">
                                <a routerLink="" class="btn-floating btn-sm text-koda-light" style="font-size: 23px;">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="list-inline-item m-3">
                                <a routerLink="" class="btn-floating btn-sm text-koda-light" style="font-size: 23px;">
                                    <i class="fa-regular fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>