<div class="container d-flex align-items-center flex-column" style="width: 50rem">
    <img src="assets/koda_logo.png" class="m-5" alt="Logo" width="240" height="300"/>
    <p>
        Koda es una plataforma de adopción de animales diseñada especialmente para
        que las protectoras tengan más visibilidad y puedan exponer sus animales
        que buscan un hogar. Así las personas que quieran adoptar un animal lo
        podrán encontrar de forma sencilla.
    </p>
    <p>
        Nuestro principal lema es: <strong>No compres, adopta</strong>, ya que
        hay muchísimos animales sin hogar que solamente buscan el amor de una
        familia que los quieran y cuiden. Además, es mucho más económico adoptar
        que comprar porque muchos de los animales ya están vacunados y/o esterilizados.
    </p>
    <p>
        Al momento de obtener un nuevo miembro de la familia es importante conocer
        todas sus necesidades y cuidados. También pensamos que es por muy adorables que
        sean los más pequeños, hay que tener en cuenta que los más mayores o los que
        más tiempo lleven en la protectora también está buscando un hogar para llenarlo
        de amor.
    </p>
</div>