.background-image {
    height: 40vh;
    background-image: url('../../../assets/home_background_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-koda-pink-custom {
    background-color: #ff7d7d93;
}